<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="JACombinerAndOptimizerGroup">
      <section name="combinerAndVersioningFilters" type="Persephone.Processing.Pipeline.PipelineConfigurationSection, Persephone.Processing.Pipeline" />
      <section name="combinerSettings" type="JsAndCssCombiner.CombinerConfigSettings.CombinerSection, JsAndCssCombiner" />
    </sectionGroup>
  </configSections>

  <loggingConfiguration configSource="logging.config"/>
  <JACombinerAndOptimizerGroup>
    <combinerAndVersioningFilters>
      <filters>
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.IeConditionalCommentsFilter, JsAndCssCombiner" />
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.JsCombinerFilter, JsAndCssCombiner" />
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.JsVersoningFilter, JsAndCssCombiner" />
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.CssCombinerFilter, JsAndCssCombiner" />
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.CssVersioningFilter, JsAndCssCombiner" />
        <add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.ImagePathsRewriteFilter, JsAndCssCombiner" />
      </filters>
    </combinerAndVersioningFilters>
    <combinerSettings comboScriptUrl="/combined.axd" combinerLiveSettingsFile="combinerSettings.txt" imagesCdnHostToPrepend="" />
  </JACombinerAndOptimizerGroup>

  <system.web>
    <httpHandlers>
      <add verb="GET" path="combined.axd" type="JsAndCssCombiner.CombinedResourceHandler, JsAndCssCombiner" validate="false"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="CombinedResourceHandler" verb="GET" path="*combined.axd" type="JsAndCssCombiner.CombinedResourceHandler, JsAndCssCombiner" />
    </handlers>
  </system.webServer>

</configuration>
